*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(135deg, lab(69.69% 15.86 -19.13) 0%, #2575fc 100%);
    color: #fff;
    min-height: 100vh
}

.nav-hero{
    padding: 10px;
    margin: 5px;
    border: 0.5px solid rgb(107, 95, 95);
    border-bottom: 2px solid black;
    background-color: linear-gradient(135deg, lab(69.69% 15.86 -19.13) 0%, #2575fc 100%);
    border-radius: 5px;
    display: flex;
}
.nav-menu{
    text-align: center;
    
}
.des-1{
    padding: 5px;
    margin-left: 5px;
}

.des-2{
    padding: 5px ;
    margin-left: 5px;
}
.hero{
    padding: 10px;
    text-align: center;
    

}
.hey {
    text-decoration: 2px solid rgb(5, 1, 1) underline ;

    
}

.hero-body{
    padding: 10px;
}